a {
  font-size: 4vw;
}

#background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  filter: contrast(490%) brightness(100%);
  background: conic-gradient(
      from 0deg at 150% 50%,
      rgba(0, 0, 255, 1),
      rgba(201, 148, 53, 0)
    ),
    linear-gradient(300deg, rgba(243, 154, 35, 1), rgba(232, 232, 218, 0)),
    linear-gradient(250deg, rgba(224, 146, 230, 1), rgba(255, 255, 255, 0)),
    radial-gradient(
      circle at -49% 128%,
      rgba(138, 236, 231, 1),
      rgba(255, 255, 0, 0)
    ),
    conic-gradient(
      from 30deg at 123% 76%,
      rgba(83, 222, 55, 1),
      rgba(255, 0, 255, 0)
    ),
    url(./noise.svg);
}

body {
  align-items: center;
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  flex-direction: column;
  font-family: Sans-Serif;
  min-height: 100vh;
}

.events {
  align-self: center;
  background-color: white;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: fit-content;
  margin: 2em;
  padding: 2em;
}

.events__event {
  display: flex;
  flex-direction: column;
}

.events__description {
  margin-bottom: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.events__image {
  border-radius: 3em;
  width: 100%;
}

footer {
  align-self: baseline;
  color: white;
  margin-top: auto;
  padding-top: 6em;
  padding-left: 2em;
  padding-right: 2em;
}

footer a {
  color: black;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

html {
  background-color: white;
}

main {
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 8vw;
}

h2 {
  font-size: 7vw;
}

h3 {
  font-size: 6vw;
}

p {
  font-size: 4vw;
}

/* desktop */
@media screen and (min-width: 1025px) {
  a {
    font-size: 1.5vw;
  }

  #background {
    background: conic-gradient(
        from 0deg at 150% 50%,
        rgba(0, 0, 255, 1),
        rgba(201, 148, 53, 0)
      ),
      linear-gradient(225deg, rgba(228, 159, 66, 1), rgba(232, 232, 218, 0)),
      linear-gradient(252deg, rgba(224, 146, 230, 1), rgba(255, 255, 255, 0)),
      radial-gradient(
        circle at -49% 128%,
        rgba(138, 236, 231, 1),
        rgba(255, 255, 0, 0)
      ),
      conic-gradient(
        from 30deg at 123% 76%,
        rgba(83, 222, 55, 1),
        rgba(255, 0, 255, 0)
      ),
      url(./noise.svg);
  }

  .events {
    margin: 3em;
    padding: 3em;
    max-width: 60vw;
  }

  .events__event {
    padding-top: 2em;
    flex-direction: row;
    margin-bottom: 2em;
  }

  .events__description {
    padding-left: 0em;
    width: 70%;
  }

  .events__image {
    height: 15em;
    margin-left: 2em;
  }

  footer {
    color: white;
    padding-top: 6em;
  }

  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 2vw;
  }

  h3 {
    font-size: 1.5vw;
  }

  p {
    font-size: 1.3vw;
  }
}
