.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  img {
    max-width: 100px;
  }
}

a {
  color: rgb(5 56 249);
}

#background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  filter: contrast(490%) brightness(100%);
}

body {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  font-family: Verdana, sans-serif;
  min-height: 100vh;
}

.events {
  align-self: center;
  background-color: white;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: fit-content;
  padding: 2em;
}

.events__event {
  display: flex;
  flex-direction: column;
}

.events__description {
  margin-bottom: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.events__image {
  border-radius: 3em;
  width: 100%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
  padding-top: 6em;
  background: linear-gradient(
      300deg,
      rgba(243, 154, 35, 1),
      rgba(232, 232, 218, 0)
    ),
    linear-gradient(250deg, rgba(224, 146, 230, 1), rgba(255, 255, 255, 0)),
    radial-gradient(
      circle at -49% 128%,
      rgba(138, 236, 231, 1),
      rgba(255, 255, 0, 0)
    );

  div {
    padding-left: 1em;
  }

  a {
    color: white;
  }
}

header {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  width: 100vw;

  h1 {
    color: white;
    font-size: 4em;
  }
}

.header__logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: linear-gradient(
      300deg,
      rgba(243, 154, 35, 1),
      rgba(232, 232, 218, 0)
    ),
    linear-gradient(250deg, rgba(224, 146, 230, 1), rgba(255, 255, 255, 0)),
    radial-gradient(
      circle at -49% 128%,
      rgba(138, 236, 231, 1),
      rgba(255, 255, 0, 0)
    );
}

.header__logo img {
  width: 150px;
  padding: 2em;
}

.header__logo a {
  text-decoration: none;
  color: inherit;
  display: inherit;
  flex-wrap: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.header__made-tech-image {
  height: 70%;
  width: 14%;
}

.header__sponsor-section {
  background-color: white;
  border-bottom: 3px solid black;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

html {
  background-color: white;
}

.link--image {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sponsorship-info {
  margin-bottom: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.sponsorship-info section {
  background-color: rgba(250, 250, 250, 0.5);
  padding: 1em 1em 1em 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}

.vip-sponsors__made-tech-image {
  height: 25%;
  width: 50%;
}

.previous-sponsors__image {
  height: 10%;
  width: 20%;
}

/* desktop */
@media screen and (min-width: 800px) {
  .events {
    padding: 3em;
    max-width: 60vw;
  }

  .events__event {
    padding: 2em;
    flex-direction: row;
    margin-bottom: 2em;
    border: black 1px dotted;
    border-radius: 2em;
  }

  .events__description {
    padding-left: 0em;
    width: 70%;
  }

  .events__image {
    height: 15em;
  }

  .sponsorship-info {
    max-width: 60vw;
  }

  .sponsor-link {
    text-decoration: none;
  }
}
